article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 120px;
    height: 100px;
}
ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    align-items: center;
}
ul div {
    border: 1px solid black;

    height: 100px;
    width: 100px;
}
